<nav class="menu">
  <h1>SomeBlog</h1>
  <div class="links">
    <LinkTo @route="index">
      Home
    </LinkTo>
    <LinkTo @route="articles">
      Articles
    </LinkTo>
    <LinkTo @route="about">
      About
    </LinkTo>
    <LinkTo @route="contact">
      Contact
    </LinkTo>
  </div>
</nav>