<h1 class="about">Welcome to about page of SomeBlog</h1>
<p>
  Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Odio ipsum aspernatur ducimus deserunt esse est a maiores consectetur cum temporibus.
</p>
<LinkTo @route="contact">Contact Us</LinkTo>
<br>
<LinkTo @route="index">Go Home</LinkTo>
